.sign-up__background {
  width: 100vw;
  height: 100vh;
  background-color: $color-blue-light;
}

.sign-up__content-box {
  width: 610px;
  height: 680px;
  background-color: $color-white;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 5px rgba(222, 231, 255, 0.25);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 75px 105px 35px;
}

.return-btn-box {
  position: absolute;
  top: 30px;
  left: 30px;
}

.subtitle {
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-weight: 400;
}
.title {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.sign-up__title {
  margin-top: 5px;
}

.sign-up__btns-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  width: 100%;
  .sign-up__btns {
    width: calc(50% - 10px);
  }
}
