.sign-up__background {
  width: 100vw;
  height: 100vh;
  background-color: $color-blue-light;
}

.sign-up__content-box {
  width: 610px;
  height: 680px;
  background-color: $color-white;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 5px rgba(222, 231, 255, 0.25);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 75px 105px 35px;
}

.sign-up__return-btn {
  position: absolute;
  top: 30px;
  left: 30px;
}

.subtitle {
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-weight: 400;
}
.title {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.sign-up__title {
  margin-top: 5px;
}

.sign-up__btns-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  width: 100%;
  .sign-up__btns {
    width: calc(50% - 10px);
  }
}

.sign-up__separator {
  margin-top: 29px;
  span {
    background-color: $color-white;
    padding-right: 9px;
    font-size: 0.875rem;
  }
  hr {
    position: absolute;
    width: 100%;
    top: 50%;
    border-top: 1px solid $color-black;
  }
}

.sign-up__inputs-box {
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
}
.sign-up__inputs {
  width: calc(50% - 10px);
}

.sign-up__comfirm--privacy {
  margin-top: 15px;
}

.sign-up__btn-create {
  margin-top: 23px;
}

.sign-up__log-in-text {
  text-align: center;
  margin-top: 12px;
  color: $color-gray;
  font-size: 0.8125rem;
}

@media screen and(max-width:610px) {
  .sign-up__content-box {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    padding: 82px 20px 20px;
  }
  .sign-up__return-btn {
    top: 24px;
    left: 20px;
  }
}
